p {
    margin: 0;
    font-weight: bold;
}
.verify__button {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    /* 左右の中央揃え */
    align-items: center;
    /* 上下の中央揃え */
    font-weight: bold;
    width: 200px;
    height: 40px;
    color: black;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
}
.verify__resend-email{
    text-align: center;
    background: none;
    border: none;
    color: #0066cc;
    padding: 0;
    font: inherit;
    cursor: pointer;
}